* {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/* Navbar*/

nav {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: inline-block;
  background: #4c6ca0;
}
/* ul list*/
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

nav ul li {
  position: relative;
  margin: 0 20px 0 0;
  display: inline-block;
}

li > a:after {
  content: " »";
} /* Ändra detta för att ändra dropdown-symbolen*/

li > a:only-child:after {
  content: "";
}

nav ul li a {
  padding: 20px;
  display: inline-block;
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding-right: px;
}
/* färg vid sväva över länken */
nav ul li a:hover {
  color: coral;
}

nav ul li ul {
  display: none;
  position: absolute;
  left: 0;
  background: #37bc9b;
  float: left;
}

nav ul li ul li {
  width: 100%;
  border-bottom: 1px solid none;
}

nav ul li:hover ul {
  display: block;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* film-serier*/

body {
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  display: block;
  background-color: #448790;
  text-decoration: none;
  border-radius: 5px;
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  cursor: pointer;
  margin-right: 62%;
}

.moviehacker {
  display: inline-block;
}

/* Data*/
